*{ /*RESET CSS (simples)*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:red; /* cor do fundo*/
}
header{
    height: 100px;  /*largura*/
}
nav{
    height: 100%;
    display: flex;  /*coloca um item do lado do outro*/
    align-items: center;    /*centraliza os itens verticalmente neste caso*/
    gap: 20px;  /*espaço entre os itens*/
    color: white;
    margin-left: 75px;  /*marge do lado esquerdo*/
    font-family: sans-serif;
    cursor: pointer;    /*muda o cursor (parece que da pra clicar)*/    
}
main{
    flex-grow: 1;   /*expande o máximo que pode o item */
    display: flex; /*coloca um item do lado do outro*/  
    justify-content: center;    /*coloca os itens no centro*/
    align-items: center;    /*alinha os itens verticalmente (um do lado do outro)*/
}
footer{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 75px;
}
.background-image{
    position: absolute;    /*tira o elemento do fluxo normal da página (os outros elementos agem como se ele não existisse)*/
    height: 100%;   /* largura completa (100%)*/
    width: 100%;    /* altura complet (100%)*/
    top:0; left:0; right:0; bottom:0;   /*posiciona o elemento (precisa do position :absolute;)*/
    margin: auto;
    opacity: 0.5;   /*transparencia do(s) intem(s)*/
    z-index:-1;     /*trás um item pra frente ou leva pra trás*/
}
.content-text{
    position: absolute;
    color: #fff;
    font-size: 2.25rem;
    width: 212px;
    transform: translateX(-100%);
    text-align: end;
    margin-right: 24px;
}
.content-image{
    height: 80vh;
    filter: drop-shadow(0px 200px 20px #0006);
}