*{ /*RESET CSS (simples)*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:red; /* cor do fundo*/
}
header{
    height: 100px;  /*altura*/
}
nav{
    height: 100%;
    display: flex;  /*coloca um item do lado do outro*/
    align-items: center;    /*centraliza os itens verticalmente neste caso*/
    gap: 20px;  /*espaço entre os itens*/
    color: white;
    margin-left: 75px;  /*marge do lado esquerdo*/
    font-family: sans-serif;
    cursor: pointer;    /*muda o cursor (parece que da pra clicar)*/    
}
main{
    flex-grow: 1;   /*expande o máximo que pode o item */
    display: flex; /*coloca um item do lado do outro*/  
    justify-content: center;    /*coloca os itens no centro*/
    align-items: center;    /*alinha os itens verticalmente (um do lado do outro)*/
}
footer{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 75px;
}
.background-image{
    position: absolute;    /*tira o elemento do fluxo normal da página (os outros elementos agem como se ele não existisse)*/
    height: 100%;   /* altura completa (100%)*/
    width: 100%;    /* largura complet (100%)*/
    top:0; left:0; right:0; bottom:0;   /*posiciona o elemento (precisa do position :absolute;)*/
    margin: auto;
    opacity: 0.5;   /*transparencia do(s) intem(s)*/
    z-index:-1;     /*trás um item pra frente ou leva pra trás*/
}
.content-text{
    position: absolute;
    color: #fff;
    font-size: 2.25rem;    /*significa: "deixe o tamanho da fonte 2.25 vezes maior do que o tamanho da fonte base do documento".*/
    width: 212px;
    transform: translateX(-100%);   /*translateX() é uma função que move um elemento ao longo do eixo X (horizontal).*/
    text-align:end;
    margin-right: 24px;
}
.content-image{
    height: 80vh;
    filter: drop-shadow(0px 200px 20px #0006);
}
@media (max-width:768px){ /*Responsividade (largura máxima até 768px seguir a seguinte formatação)*/
    header nav{ 
      margin-left:25px; 
    }
  main{ 
      align-items:flex-end; 
    }
  .content-text{ 
      transform: translateX(0); 
      top:80px; 
      font-size:1rem; 
      width:100px; 
      text-align:center; 
      margin:0; 
    }
  .content-image{ 
      height:70vh; 
    }
  footer{ 
      height:60px; 
      margin-right:25px; 
    }
}